* {
    box-sizing: border-box;    
}

.page{
    width: 100%;
    height: 100vh;
    background-color: #EDEDED;
}
input{
    outline: none;
}

button{
    outline: none;
    border: none;
}

img {
    display:inline-block;
    border: none;
}
