@import "./base.scss";
@import "./vase-variable.scss";


@mixin f-jc($type: space-between) {
    display: flex;
    justify-content: $type;
}

@mixin f-center($jc: center,$ai: center) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

// @mixin offset-t($px:"-2px") {
//     position: relative;
//     top:$px;
// }