@import "./base.scss";
@import "./vase-variable.scss";
@import "./animate.scss";


@mixin f-jc($type: space-between) {
    display: flex;
    justify-content: $type;
}

@mixin f-center($jc: center,$ai: center) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}
.f-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// @mixin offset-t($px:"-2px") {
//     position: relative;
//     top:$px;
// }



.tabbar-page{
    padding-bottom: $tabbar-height;
}
.header-page{
    padding-top: $header-height;
}